body#list {
  color: #657b83;
  background-color: #fdf6e3
}
#list #viewer {
  width: 60%;
  padding: 3em;
  border: 1px solid #ccc;
  margin: 1em auto;
}
#list #viewer h1 {
  font-size: 2em;
  font-weight: 700;
  color: #333;
}
#list #viewer h2 {
  font-size: 1.4em;
  font-weight: 700;
}
#list #viewer ul {
  padding: 2em;
  list-style: circle;
}
#list #viewer a {
  color: #657b83;
  text-decoration: none;
}
